
  
<br>
<header class="bg-blue-500 p-4 text-white">
  <div class="flex justify-end space-x-4">
    <button (click)="newBookModal()" class="bg-green-500 px-4 py-2 rounded">Nuevo Libro</button>
    <button (click)="logout()" class="bg-yellow-500 px-4 py-2 rounded">Cerrar Sesión</button>
  </div>
</header>

  <body>
    <div class="grid grid-cols-6 gap-5 p-20">
        <div *ngFor="let book of books; trackBy: trackBookId"
             class="col-span-6 mt-5 bg-opacity-50 border border-gray-100 rounded shadow-lg cursor-pointer bg-gradient-to-b from-gray-200 backdrop-blur-20 to-gray-50 md:col-span-3 lg:col-span-2">
          <div class="flex flex-row px-2 py-3 mx-3">
            <div class="flex flex-col mt-1 mb-2 ml-4">
              <div class="text-sm text-gray-600">{{ book.titulo }}</div>
              <div class="flex w-full mt-1">
                <div class="mr-1 text-xs text-blue-700 cursor-pointer font-base">
                  {{ book.autor }}
                </div>
              </div>
            </div>
          </div>
      
          <div class="flex justify-center px-2 mx-3 my-2 text-sm font-medium text-gray-400">
            <img class="w-[300px] h-[300px] rounded-full shadow-2xl object-cover" [src]="book.img">
          </div>
      
          <div class="mb-5 border-t border-gray-100">
            <div class="flex flex-wrap justify-start mx-5 mt-6 text-xs sm:justify-center">
              <!-- Agrega cualquier información adicional que desees mostrar -->
            </div>
          </div>
      
          <div class="flex justify-center mt-2">
            <button class="bg-blue-500 p-2 rounded-full hover:bg-blue-600 focus:outline-none mx-2" (click)="updateBookModal(book)">
              Actualizar
            </button>
            <button class="bg-red-500 p-2 rounded-full hover:bg-red-600 focus:outline-none mx-2" (click)="deleteBook(book)">
              Eliminar
            </button>
          </div>
        </div>
      </div>
  </body>

  